build/
cmake-build-*/
out/
.cache/
result/
.git
!.git/
.git/*
!.git/modules/
.git/modules/*
!.git/modules/dependencies/
.git/modules/dependencies/*
!.git/modules/dependencies/vcpkg/
!.git/modules/dependencies/vcpkg/**
bin/Cemu_*
bin/*.pdb
bin/*.ilk
bin/.Cemu_release.bin
bin/.cemu-runtime/
bin/CEF-LICENSE.txt
bin/CEF-README.txt
bin/chrome-sandbox
bin/chrome_*.pak
bin/icudtl.dat
bin/libcef.so
bin/libEGL.so
bin/libGLESv2.so
bin/libvk_swiftshader.so
bin/libvulkan.so.1
bin/locales/
bin/resources.pak
bin/snapshot_blob.bin
bin/v8_context_snapshot.bin
bin/vk_swiftshader_icd.json
dependencies/vcpkg/buildtrees/
dependencies/vcpkg/packages/
dependencies/vcpkg/downloads/
dependencies/vcpkg/installed/
dependencies/.cef-downloads/
dependencies/cef/Debug/
ui/node_modules/
ui/dist/
