*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.out
*.app
.vs
.vscode
.idea/

build/
/result/
dependencies/cef/
dependencies/.cef-downloads/
/result-nix
cmake-build-*/
out/
.cache/
bin/Cemu_*
bin/Cemu_*.exe
appimage/*.AppImage

# Cemu bin files
bin/otp.bin
bin/seeprom.bin
bin/log.txt
bin/Cemu_*.pdb
bin/Cemu_*.ilk
bin/Cemu.exe.backup
bin/.Cemu_release.bin
bin/.cemu-runtime/
bin/cef-swiftshader/
bin/CEF-LICENSE.txt
bin/CEF-README.txt
bin/chrome-sandbox
bin/chrome_*.pak
bin/icudtl.dat
bin/libvulkan.so.1
bin/locales/
bin/resources.pak
bin/snapshot_blob.bin
bin/v8_context_snapshot.bin
bin/vk_swiftshader_icd.json
bin/mlc01/*
bin/settings.xml
bin/network_services.xml
bin/title_list_cache.xml
bin/debugger/*
bin/sdcard/*
bin/screenshots/*
bin/dump/*
bin/cafeLibs/*
bin/portable/*
bin/keys.txt

!bin/shaderCache/info.txt
bin/shaderCache/*

bin/controllerProfiles/*

!bin/gameProfiles/default/*
bin/gameProfiles/*

bin/graphicPacks/*

# Ignore Finder view option files created by OS X
.DS_Store
# Rust build output (all supported verification runs inside Docker).
/target/
